<div class='field-password-component'>
    <label class='field-password-component__label' for=''>{{labelText}}</label>
    <input class='field-password-component__input' type='password' placeholder='{{labelText}}' />
    <div class='field-password-component__warning'>{{warningText}}</div>
</div>