<div class='profile-page'>
    <a class='profile-page__link' href='/chats'>
            <button class='profile-page__link-icon'><</button>
        </a>
    <div class='wrapper'>
        {{{profile}}}
    </div>
</div>