.profile-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;

    & .wrapper {
        width: 510px;
        gap: 97px;
    }

    &__link {
        position: absolute;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 64px;
        text-decoration: none;
        background: #FBFBFB;

        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: none;
            color: #fff;
            background: #3369F3;
            cursor: pointer;
        }
    }
}