<form action="" class="sign-component">
    <h3>Вход</h3>
    <div class="sign-component__input-wrapper">
        <label for="" class="sign-component__label">Логин</label>
        <input type="text" class="sign-component__input">
    </div>
    <div class="sign-component__input-wrapper">
        <label for="" class="sign-component__label">Пароль</label>
        <input type="password" class="sign-component__input">
    </div>
    <div class="sign-component__actions">
        <button class="sign-component__btn">Авторизоваться</button>
        <a href="#" class="sign-component__link">Нет аккаунта?</a>
    </div>
</form>