<div class='field-text-component'>
    <label class='field-text-component__label' for=''>{{labelText}}</label>
    <input class='field-text-component__input' type='text' placeholder='{{labelText}}' />
    <div class='field-text-component__warning'>{{warningText}}</div>
</div>