<form class="upload-modal-modules" action="">
    <h3 class="upload-modal-modules__title">{{titleText}}</h3>
    <div class="upload-modal-modules__inputs">
        <input type="file">
    </div>
    <div class="upload-modal-modules__actions">
        <button class="upload-modal-modules__btn">{{btnText}}</button>
        <a class="upload-modal-modules__error" href="#">{{errorText}}</a>
    </div>
</form>