<div class='chats-page'>
    <section class='chats-modules'>

        <div class='chats-modules__header'>
            <a class='chats-modules__link' href="/profile">Профиль ></a>
            <div class='search'>
                <label class='search__icon' for='search' class='search'></label>
                <input class='search__input' type='text' id='search' />
            </div>
        </div>

        <div class='chats-modules__items'>
            <div class='chats-modules__item item'>
                <div class='item__img-wrapper'></div>
                <div class='item__content'>
                    <div class='item__title'>Андрей</div>
                    <div class='item__text'>Изображение</div>
                </div>
                <div class='item__aside'>
                    <div class='item__time'>10:49</div>
                    <div class='item__counter'><div>2</div></div>
                </div>
            </div>
        </div>

    </section>

    <section class='messages'>
        <div class='message'>
            <div class="message__content">
                Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать
                модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще
                находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой. Хассельблад в итоге адаптировал SWC для космоса, но
                что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000
                евро.
            </div>
        </div>
        <div class='message message--myMessage'>
            <div class="message__content">
                Привет!
            </div>
        </div>
    </section>
</div>