<div class='field-tel-component'>
    <label class='field-tel-component__label' for=''>{{labelText}}</label>
    <input class='field-tel-component__input' type='tel' placeholder='{{labelText}}'/>
    <div class='field-tel-component__warning'>{{warningText}}</div>
</div>