<div class='field-tel-component'>
    <label class='field-tel-component__label' for=''>{{labelText}}</label>
    <input class='field-tel-component__input' type='tel' name='phone' pattern='[0-9]{3}-[0-9]{3}-[0-9]{4}' placeholder='{{labelText}}' />
    <div class='field-tel-component__warning'>{{warningText}}</div>
</div>