<div class="error-page__wrapper">
    <div class="error-page__number">{{number}}</div>
    <div class="error-page__text">{{text}}</div>
    <div class="error-page__link-text">{{linkText}}</div>
</div>