<div class="error-page-component">
    <div class="error-page-component__number">{{number}}</div>
    <div class="error-page-component__text">{{text}}</div>
    <a class="error-page-component__link-text" href="/Chats">{{linkText}}</a>
</div>