.error-page-component {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

    &__number {
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;
    }

    &__text {
        margin-bottom: 69px;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
    }

    &__link-text {
        color: #3369F3;
        font-weight: 500;
        font-size: 11px;
        line-height: 11px;
    }

}