<div class="error-page-component">
    <div class="error-page-component__number">{{number}}</div>
    <div class="error-page-component__text">{{text}}</div>
    <div class="error-page-component__link-text">{{linkText}}</div>
</div>