@import url(../static/fonts/index.scss);
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

#root {
    height: 100%;
}

.wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}